<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Public/sass/style.css">
    @RenderSection("styles", required: false)

</head>

<body>
    <header>
        <div class="container-fluid header-top">

            <div class="container height ">
                <div class="row height">
                    <div class="col-lg-7 offset-lg-5 col-md-7 offset-md-5 col-sm-9 offset-sm-3 col-10 offset-2 header-top-content height">



                        <p>
                            <i class="far fa-clock"></i>We'are Open: Mon - Sat 8:00 - 18:00
                        </p>

                        <ul>
                            <li><a><i class="fab fa-facebook-f"></i></a></li>
                            <li><a><i class="fab fa-twitter"></i></a></li>
                            <li><a><i class="fab fa-instagram"></i></a></li>
                            <li><a><i class="fab fa-google-plus-g"></i></a></li>
                        </ul>





                    </div>

                </div>
            </div>
        </div>
        <div class="container Second">
            <div class="row middle">
                <div class="col-lg-4 col-md-4 col-sm-4 col-3">

                    <div class="brand-wrapper">
                        <a href="" class="brand"><img src="~/Public/image/auto.png" alt="brand shekli olmalidir"></a>

                    </div>

                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-9">

                    <div class="contact-holder">
                        <ul>
                            <li>
                                <span><i class="fas fa-phone-volume"></i> </span>
                                <div class="info-wrapper">
                                    <p>
                                        Call us
                                    </p>

                                    <span>
                                        +91 458 654 528

                                    </span>
                                </div>
                            </li>
                            <li>
                                <span class="letter"> <i class="far fa-envelope-open"></i></span>
                                <div class="info-wrapper">
                                    <p>
                                        Call us
                                    </p>

                                    <span>
                                        +91 458 654 528

                                    </span>
                                </div>
                            </li>
                            <li>
                                <a href="@Url.Action("Contact", "Home")" class="contact-btn btn btn-danger">Contact Us</a>
                            </li>

                        </ul>
                    </div>

                </div>
            </div>





        </div>
        <div class="clip">

            <div class="container">
                <div class="row position-relative">
                    <div class="responsiveNav d-none visibile col-12">

                        <ul class="responsiveNavUl">
                            <li>@Html.ActionLink("Ana səhifə", "Index", "Home")</li>
                            <li>@Html.ActionLink("Haqqımızda", "About", "Home")</li>
                            <li class="responsiveDropdown">@Html.ActionLink("Xidmətlər", "Index", "Service")<i class="fas fa-arrow-circle-down"></i></li>
                            <li class="none">
                                <div class="responDrop ">
                                    <ul>
                                        <li><a href="@Url.Action("Index", "Service")/#Firstservice">Yağlama</a></li>
                                        <li> <a href="@Url.Action("Index", "Service")/#Secondservice">Aksesuarların quraşdırılması</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="responsiveDropdown">
                                @Html.ActionLink("Alış-Veriş", "Index", "Shop")<i class="fas fa-arrow-circle-down"></i>

                            </li>
                            <li class="none">
                                <div class="responDrop ">
                                    <ul>
                                        <li>@Html.ActionLink("Yağlar", "Oil", "Shop")</li>
                                        <li>@Html.ActionLink("Yağlar", "Aksesuar", "Shop")</li>
                                        <li>@Html.ActionLink("Ehtiyat Hissələri", "Details", "Shop")</li>
                                        <li>@Html.ActionLink("Akumlyatorlar", "Bataries", "Shop")</li>
                                    </ul>
                                </div>
                            </li>
                            <li>@Html.ActionLink("Əlaqə", "Contact", "Home")</li>
                            <li> @Html.ActionLink("Portfolio", "Index", "Portfolio")</li>
                        </ul>

                    </div>
                    <div class="col-lg-4 col-md-1 col-sm-1   wid"></div>
                    <div class="col-lg-7 col-md-10 col-sm-10 col-10 navbar">

                        <i class="fas fa-bars bars"></i>
                        <ul class="navbottom">
                            <li> @Html.ActionLink("Ana səhifə", "Index", "Home")</li>
                            <li> @Html.ActionLink("Haqqımızda", "About", "Home")</li>
                            <li class="position-relative dropdown">
                                @Html.ActionLink("Xidmətlər", "Index", "Service")
                                <div class="menu position-absolute">
                                    <ul>
                                        <li> <a href="@Url.Action("Index", "Service")/#Firstservice">Yağlama</a></li>
                                        <li> <a href="@Url.Action("Index", "Service")/#Secondservice">Aksesuarların quraşdırılması</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="position-relative dropdown">
                                @Html.ActionLink("Alış-Veriş", "Index", "Shop")
                                <div class="menu position-absolute">
                                    <ul>
                                        <li>@Html.ActionLink("Yağlar", "Oil", "Shop")</li>
                                        <li>@Html.ActionLink("Aksesuarlar", "Aksesuar", "Shop")</li>
                                        <li>@Html.ActionLink("Ehtiyat Hissələri", "Details", "Shop")</li>
                                        <li>@Html.ActionLink("Akumlyatorlar", "Bataries", "Shop")</li>


                                    </ul>
                                </div>
                            </li>
                            <li>@Html.ActionLink("Əlaqə", "Contact", "Home")</li>
                            <li> @Html.ActionLink("Portfolio", "Index", "Portfolio")</li>
                        </ul>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-2">
                        <span class="cart">
                            <a href="@Url.Action("Cart", "Home")"><i class="fas fa-shopping-cart"></i></a>
                            <span id="basket">0</span>
                        </span>
                    </div>

                </div>
            </div>


        </div>


    </header>

    @RenderBody()

    <footer>
        <div class="container ">
            <div class="row footerTop">
                <div class=" col-lg-4 col-4">
                    <div class="row">
                        <div class="col-lg-12 footerTopFirst">
                            <i class="fas fa-map-marker-alt"></i>
                            <div>
                                <h5>Birmingham</h5>
                                <p>1014 Retreat Avenue</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class=" col-lg-4 col-4 ">
                    <div class="row">
                        <div class="col-lg-12 footerTopThird">
                            <i class="fas fa-phone-volume"></i>
                            <div>
                                <h5>+(91) 458 654 528</h5>
                                <p>Give us a call</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class=" col-lg-4 col-4">
                    <div class="row">
                        <div class="col-lg-12 footerTopFivth ">
                            <i class="far fa-envelope"></i>
                            <div>
                                <h5>+(91) 458 654 528</h5>
                                <p>Give us a call</p>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
        <div class="container-fluid content">
            <div class="container">
                <div class="row footerRow">
                    <div class="col-lg-4 col-md-8 col-sm-12 firstcol ">
                        <div>
                            <img src="~/Public/image/footer_logo.png" alt="">
                        </div>
                        <p>A wonderful serenity taken possession into entire soul like to these sweet of tence this spot which was the main part created the bliss often souls like mine.</p>
                        <div class="firstcolIcon">
                            <div><i class="fab fa-facebook-f"></i></div>
                            <div><i class="fab fa-twitter"></i></div>
                            <div><i class="fab fa-google-plus-g"></i></div>
                            <div><i class="fab fa-invision"></i></div>
                            <div><i class="fab fa-instagram"></i></div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 secondcol ">
                        <h3>Our Services</h3>
                        <ul>
                            <li><a href="#">Engine Diagnostics</a></li>
                            <li><a href="#">Engine Diagnostics</a></li>
                            <li><a href="#">Engine Diagnostics</a></li>
                            <li><a href="#">Engine Diagnostics</a></li>
                            <li><a href="#">Engine Diagnostics</a></li>
                            <li><a href="#">Engine Diagnostics</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3  col-md-6 col-sm-6 thirdcol ">
                        <h3>Latest News</h3>
                        <ul>
                            <li><a href="#">How can I measure temperature</a><p>July 25, 2016</p></li>
                            <li><a href="#">How can I measure temperature</a><p>July 25, 2016</p></li>
                            <li><a href="#">How can I measure temperature</a><p>July 25, 2016</p></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 fourthcol">
                        <h3>Service Hours</h3>
                        <ul>
                            <li><span>Monday</span><span>7:00-16:00</span></li>
                            <li><span>Monday</span><span>7:00-16:00</span></li>
                            <li><span>Monday</span><span>7:00-16:00</span></li>
                            <li><span>Monday</span><span>7:00-16:00</span></li>
                            <li><span>Monday</span><span>7:00-16:00</span></li>
                            <li><span>Monday</span><span>7:00-16:00</span></li>
                        </ul>
                    </div>
                </div>
                <div>
                </div>
            </div>
        </div>
        <div class="container-fluid footerBottom">
            <div class="container">
                <div class="row footerBottomRow">
                    <p>Copyright © 2018 Automobile. All Rights Reserved.</p>
                    <p>
                        <span class="footerBottomSpan">
                            +91 458 654 528

                        </span>
                        <span>
                            query@finances.com

                        </span>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="~/Public/js/checkout.js"></script>
    <script src="~/Public/js/main.js"></script>
    <script src="~/Public/js/nav.js"></script>
    @RenderSection("scripts", required: false)


</body>

</html>